name: macshell debug

on:
  workflow_dispatch:

jobs:
  debug:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: prefix-dev/setup-pixi@v0.8.8
        with:
          pixi-version: v0.47.0
          cache: true
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
